name: test

on: 
  push: 
    branches: [main]
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      
      - name: Python Setup
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ] ; then pip install -r requirements.txt; fi
          
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.0
        
      - name: Execute tests
        run: cd user_crud && pytest
